* {
  box-sizing: border-box;
}

body {
  padding: 0;
  margin: 0 auto;
  align-content: center;
  background: linear-gradient(45deg, white 85%, #404cf7 85.1%);
  height: 100vh;
  overflow: hidden;
}

p {
  margin: 0;
  padding: 0;
}

.margin-top {
  margin-top: 15px;
}

.greetings {
  text-align: center;
  font-size: 48px;
}

.aboutme-section {
  margin: 0 auto;
  border-radius: 15px;
  background: white;
}
.aboutme-section.disabled {
  display: none;
}
.aboutme-section.active {
  display: flex;
  gap: 5px;
  width: 0px;
  height: 0px;
  transition: 0.4s;
  animation: 1.4s aboutmeSlide;
  animation-fill-mode: forwards;
  overflow: hidden;
}
@keyframes aboutmeSlide {
  0% {
    width: 0px;
    height: 0px;
  }
  100% {
    width: 1200px;
    height: 400px;
  }
}
.aboutme-section.inactive {
  display: flex;
  gap: 5px;
  width: 1200px;
  height: 400px;
  animation: 1.4s aboutmeClose;
  animation-fill-mode: forwards;
  overflow: hidden;
}
@keyframes aboutmeClose {
  0% {
    width: 1200px;
    height: 400px;
  }
  100% {
    width: 0px;
    height: 0px;
  }
}

.aboutme-title {
  width: 200px;
  align-content: center;
  text-align: center;
  font-family: sans-serif;
  text-transform: uppercase;
}

.aboutme-text {
  width: 980px;
  align-content: center;
  text-align: justify;
  font-size: 20px;
  font-family: sans-serif;
  padding: 0px 10px;
}

.contacts-section {
  margin: 0 auto;
  border-radius: 15px;
  overflow: hidden;
}
.contacts-section.disabled {
  display: none;
}
.contacts-section.active {
  width: 0px;
  height: 0px;
  animation: 1.4s contactsSlide;
  animation-fill-mode: forwards;
  border: 1px solid black;
}
@keyframes contactsSlide {
  0% {
    width: 0px;
    height: 0px;
  }
  100% {
    width: 1200px;
    height: 600px;
  }
}
.contacts-section.inactive {
  width: 500px;
  height: 400px;
  animation: 1.4s contactsClose;
  animation-fill-mode: forwards;
  overflow: hidden;
}
@keyframes contactsClose {
  0% {
    width: 1200px;
    height: 600px;
  }
  100% {
    width: 0px;
    height: 0px;
  }
}

.portfolio-section {
  margin: 0 auto;
  border-radius: 15px;
  overflow: hidden;
}
.portfolio-section.disabled {
  display: none;
}
.portfolio-section.active {
  width: 0px;
  height: 0px;
  animation: 1.4s portfolioSlide;
  animation-fill-mode: forwards;
  border: 1px solid black;
}
@keyframes portfolioSlide {
  0% {
    width: 0px;
    height: 0px;
  }
  100% {
    width: 500px;
    height: 400px;
  }
}
.portfolio-section.inactive {
  width: 500px;
  height: 400px;
  animation: 1.4s portfolioClose;
  animation-fill-mode: forwards;
  overflow: hidden;
}
@keyframes portfolioClose {
  0% {
    width: 500px;
    height: 400px;
  }
  100% {
    width: 0px;
    height: 0px;
  }
}

.skills-section {
  margin: 0 auto;
  border-radius: 15px;
  overflow: hidden;
}
.skills-section.disabled {
  display: none;
}
.skills-section.active {
  width: 0px;
  height: 0px;
  animation: 1.4s skillSlide;
  animation-fill-mode: forwards;
}
@keyframes skillSlide {
  0% {
    width: 0px;
    height: 0px;
  }
  100% {
    width: 1200px;
    height: 400px;
  }
}
.skills-section.inactive {
  width: 500px;
  height: 400px;
  animation: 1.4s skillClose;
  animation-fill-mode: forwards;
  overflow: hidden;
}
@keyframes skillClose {
  0% {
    width: 1200px;
    height: 400px;
  }
  100% {
    width: 0px;
    height: 0px;
  }
}
.skills-section__skill-list {
  list-style-type: none;
  padding: 0;
  margin: 0;
  width: 420px;
}
.skills-section__skill-type {
  display: flex;
  gap: 5px;
  justify-content: right;
  align-items: center;
}
.skills-section__animation-container {
  width: 200px;
  height: 7px;
  border: 2px solid #404cf7;
  animation-delay: 1.9s;
  border-radius: 25px;
}
.skills-section__animation-container__animation-stress {
  height: 3px;
  border-radius: 25px;
  animation: 1.4s slideStress;
  animation-direction: alternate;
  animation-fill-mode: forwards;
  background: #404cf7;
}
@keyframes slideStress {
  0% {
    width: 0;
  }
  100% {
    width: 50%;
  }
}
.skills-section__animation-container__animation-communication {
  height: 3px;
  border-radius: 25px;
  animation: 1.4s slideCommunication;
  animation-direction: alternate;
  animation-fill-mode: forwards;
  background: #404cf7;
}
@keyframes slideCommunication {
  0% {
    width: 0;
  }
  100% {
    width: 99%;
  }
}
.skills-section__animation-container__animation-leadership {
  height: 3px;
  border-radius: 25px;
  animation: 1.5s slideLeadership;
  animation-direction: alternate;
  animation-fill-mode: forwards;
  background: #404cf7;
}
@keyframes slideLeadership {
  0% {
    width: 0;
  }
  100% {
    width: 75%;
  }
}
.skills-section__animation-container__animation-adaptivity {
  height: 3px;
  border-radius: 25px;
  animation: 1.5s slideAdaptivity;
  animation-direction: alternate;
  animation-fill-mode: forwards;
  background: #404cf7;
}
@keyframes slideAdaptivity {
  0% {
    width: 0;
  }
  100% {
    width: 90%;
  }
}
.skills-section__animation-container__animation-hmtl {
  height: 3px;
  border-radius: 25px;
  animation: 1.5s slideHmtl;
  animation-direction: alternate;
  animation-fill-mode: forwards;
  background: #404cf7;
}
@keyframes slideHmtl {
  0% {
    width: 0;
  }
  100% {
    width: 80%;
  }
}
.skills-section__animation-container__animation-css {
  height: 3px;
  border-radius: 25px;
  animation: 1.5s slideCss;
  animation-direction: alternate;
  animation-fill-mode: forwards;
  background: #404cf7;
}
@keyframes slideCss {
  0% {
    width: 0;
  }
  100% {
    width: 80%;
  }
}
.skills-section__animation-container__animation-scss {
  height: 3px;
  border-radius: 25px;
  animation: 1.5s slideScss;
  animation-direction: alternate;
  animation-fill-mode: forwards;
  background: #404cf7;
}
@keyframes slideScss {
  0% {
    width: 0;
  }
  100% {
    width: 75%;
  }
}
.skills-section__animation-container__animation-adaptiv {
  height: 3px;
  border-radius: 25px;
  animation: 1.5s slideAdaptiv;
  animation-direction: alternate;
  animation-fill-mode: forwards;
  background: #404cf7;
}
@keyframes slideAdaptiv {
  0% {
    width: 0;
  }
  100% {
    width: 95%;
  }
}
.skills-section__animation-container__animation-js {
  height: 3px;
  border-radius: 25px;
  animation: 1.5s slideJs;
  animation-direction: alternate;
  animation-fill-mode: forwards;
  background: #404cf7;
}
@keyframes slideJs {
  0% {
    width: 0;
  }
  100% {
    width: 60%;
  }
}
.skills-section__animation-container__animation-webpack {
  height: 3px;
  border-radius: 25px;
  animation: 1.5s slideWebpack;
  animation-direction: alternate;
  animation-fill-mode: forwards;
  background: #404cf7;
}
@keyframes slideWebpack {
  0% {
    width: 0;
  }
  100% {
    width: 40%;
  }
}
.skills-section__animation-container__animation-nodejs {
  height: 3px;
  border-radius: 25px;
  animation: 1.5s slideNodejs;
  animation-direction: alternate;
  animation-fill-mode: forwards;
  background: #404cf7;
}
@keyframes slideNodejs {
  0% {
    width: 0;
  }
  100% {
    width: 40%;
  }
}
.skills-section__animation-container__animation-react {
  height: 3px;
  border-radius: 25px;
  animation: 1.5s slideReact;
  animation-direction: alternate;
  animation-fill-mode: forwards;
  background: #404cf7;
}
@keyframes slideReact {
  0% {
    width: 0;
  }
  100% {
    width: 30%;
  }
}

.buttons-container {
  display: flex;
  gap: 5px;
  justify-content: center;
  align-items: center;
  height: 80px;
  margin-top: 15px;
}

.button {
  height: 50px;
  min-width: 150px;
  border: none;
  border-radius: 15px;
  padding: 0 10px;
  background: #404cf7;
  color: white;
  cursor: pointer;
  font-size: 24px;
}
.button.active {
  transition: 0.4s;
  background: white;
  color: #404cf7;
}
.button:hover {
  transition: 0.4s;
  background: white;
  color: #404cf7;
}/*# sourceMappingURL=main.css.map */