@font-face {
  font-display: swap;
  font-family: "Manrope";
  font-weight: 400;
  src: url("../fonts/manrope-v15-latin-regular.woff2") format("woff2");
}
@font-face {
  font-display: swap;
  font-family: "Manrope";
  font-weight: 500;
  src: url("../fonts/manrope-v15-latin-500.woff2") format("woff2");
}
@font-face {
  font-display: swap;
  font-family: "Manrope";
  font-weight: 700;
  src: url("../fonts/manrope-v15-latin-700.woff2") format("woff2");
}
@font-face {
  font-display: swap;
  font-family: "Manrope";
  font-weight: 800;
  src: url("../fonts/manrope-v15-latin-800.woff2") format("woff2");
}
:root {
  --color-primary-dark: #404cf7;
  --color-primary-light: white;
  --color-secondary-dark: black;
}

* {
  box-sizing: border-box;
}

body {
  padding: 0;
  margin: 0 auto;
  align-content: center;
  height: 100vh;
  font-size: 18px;
  font-family: Manrope, sans-serif;
  line-height: 1.5;
}
@media screen and (min-width: 1023px) {
  body {
    background: linear-gradient(45deg, var(--color-primary-light) 85%, var(--color-primary-dark) 85.1%);
  }
}

p {
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  text-align: center;
  padding: 0;
  margin: 0;
}

h1 {
  font-size: 48px;
}

h2 {
  font-size: 40px;
}

ul {
  padding: 0;
  margin: 0;
}

.aboutme-section {
  margin: 0 auto;
}
.aboutme-section.disabled {
  display: none;
}
.aboutme-section.active {
  display: flex;
  gap: 5px;
  transition: 0.4s;
  animation: linear 1.4s aboutmeSlide;
  animation-fill-mode: forwards;
  overflow: hidden;
}
@media screen and (min-width: 360px) {
  .aboutme-section.active {
    flex-direction: column;
  }
  @keyframes aboutmeSlide {
    0% {
      width: 0px;
      height: 0px;
    }
    100% {
      width: 100%;
      max-width: 340px;
      height: 1100px;
    }
  }
}
@media screen and (min-width: 424px) {
  @keyframes aboutmeSlide {
    0% {
      width: 0px;
      height: 0px;
    }
    100% {
      width: 100%;
      max-width: 400px;
      height: 1000px;
    }
  }
}
@media screen and (min-width: 767px) {
  @keyframes aboutmeSlide {
    0% {
      width: 0px;
      height: 0px;
    }
    100% {
      width: 100%;
      max-width: 700px;
      height: 650px;
    }
  }
}
@media screen and (min-width: 1023px) {
  .aboutme-section.active {
    flex-direction: row;
  }
  @keyframes aboutmeSlide {
    0% {
      width: 0px;
      height: 0px;
    }
    100% {
      width: 100%;
      max-width: 900px;
      height: 550px;
    }
  }
}
@media screen and (min-width: 1439px) {
  .aboutme-section.active {
    justify-content: center;
    align-items: center;
  }
  @keyframes aboutmeSlide {
    0% {
      width: 0px;
      height: 0px;
    }
    100% {
      width: 100%;
      max-width: 1200px;
      height: 700px;
    }
  }
}
.aboutme-section.inactive {
  animation: linear 1.4s aboutmeClose;
  animation-fill-mode: forwards;
  overflow: hidden;
}
@media screen and (min-width: 360px) {
  .aboutme-section.inactive {
    width: 340px;
    height: 1100px;
  }
  @keyframes aboutmeClose {
    0% {
      width: 100%;
      max-width: 340px;
      height: 1100px;
    }
    100% {
      width: 0px;
      height: 0px;
    }
  }
}
@media screen and (min-width: 424px) {
  .aboutme-section.inactive {
    width: 400px;
    height: 1000px;
  }
  @keyframes aboutmeClose {
    0% {
      width: 100%;
      max-width: 400px;
      height: 1000px;
    }
    100% {
      width: 0px;
      height: 0px;
    }
  }
}
@media screen and (min-width: 767px) {
  .aboutme-section.inactive {
    width: 700px;
    height: 650px;
  }
  @keyframes aboutmeClose {
    0% {
      width: 100%;
      max-width: 700px;
      height: 650px;
    }
    100% {
      width: 0px;
      height: 0px;
    }
  }
}
@media screen and (min-width: 1023px) {
  .aboutme-section.inactive {
    flex-direction: row;
    width: 900px;
    height: 550px;
  }
  @keyframes aboutmeClose {
    0% {
      width: 100%;
      max-width: 900px;
      height: 550px;
    }
    100% {
      width: 0px;
      height: 0px;
    }
  }
}
@media screen and (min-width: 1439px) {
  .aboutme-section.inactive {
    width: 1200px;
    height: 700px;
  }
  @keyframes aboutmeClose {
    0% {
      width: 100%;
      max-width: 1200px;
      height: 700px;
    }
    100% {
      width: 0px;
      height: 0px;
    }
  }
}
.aboutme-section__title {
  align-content: center;
  text-align: center;
  text-transform: uppercase;
}
@media screen and (min-width: 1023px) {
  .aboutme-section__title {
    width: 150px;
  }
}
.aboutme-section__text {
  align-content: center;
  text-align: justify;
  font-size: 20px;
  margin-top: 15px;
}
@media screen and (min-width: 360px) {
  .aboutme-section__text {
    width: 340px;
  }
}
@media screen and (min-width: 424px) {
  .aboutme-section__text {
    width: 400px;
  }
}
@media screen and (min-width: 767px) {
  .aboutme-section__text {
    width: 700px;
  }
}
@media screen and (min-width: 1439px) {
  .aboutme-section__text {
    width: 1000px;
  }
}

.contacts-section {
  margin: 0 auto;
  overflow: hidden;
}
.contacts-section.disabled {
  display: none;
}
.contacts-section.active {
  width: 0px;
  height: 0px;
  animation: 1.4s contactsSlide;
  animation-fill-mode: forwards;
}
@media screen and (min-width: 360px) {
  @keyframes contactsSlide {
    0% {
      width: 0px;
      height: 0px;
    }
    100% {
      width: 100%;
      max-width: 340px;
      height: 680px;
    }
  }
}
@media screen and (min-width: 424px) {
  @keyframes contactsSlide {
    0% {
      width: 0px;
      height: 0px;
    }
    100% {
      width: 100%;
      max-width: 400px;
      height: 700px;
    }
  }
}
@media screen and (min-width: 767px) {
  @keyframes contactsSlide {
    0% {
      width: 0px;
      height: 0px;
    }
    100% {
      width: 100%;
      max-width: 700px;
      height: 670px;
    }
  }
}
@media screen and (min-width: 1023px) {
  @keyframes contactsSlide {
    0% {
      width: 0px;
      height: 0px;
    }
    100% {
      width: 100%;
      max-width: 1200px;
      height: 600px;
    }
  }
}
.contacts-section.inactive {
  animation: 1.4s contactsClose;
  animation-fill-mode: forwards;
  overflow: hidden;
}
@media screen and (min-width: 360px) {
  .contacts-section.inactive {
    width: 340px;
    height: 1100px;
  }
  @keyframes contactsClose {
    0% {
      width: 100%;
      max-width: 340px;
      height: 1100px;
    }
    100% {
      width: 0px;
      height: 0px;
    }
  }
}
@media screen and (min-width: 424px) {
  .contacts-section.inactive {
    width: 400px;
    height: 700px;
  }
  @keyframes contactsClose {
    0% {
      width: 100%;
      max-width: 400px;
      height: 700px;
    }
    100% {
      width: 0px;
      height: 0px;
    }
  }
}
@media screen and (min-width: 767px) {
  .contacts-section.inactive {
    width: 700px;
    height: 670px;
  }
  @keyframes contactsClose {
    0% {
      width: 100%;
      max-width: 700px;
      height: 670px;
    }
    100% {
      width: 0px;
      height: 0px;
    }
  }
}
@media screen and (min-width: 1023px) {
  .contacts-section.inactive {
    width: 700px;
    height: 670px;
  }
  @keyframes contactsClose {
    0% {
      width: 100%;
      max-width: 1200px;
      height: 600px;
    }
    100% {
      width: 0px;
      height: 0px;
    }
  }
}
.contacts-section__contact-type {
  display: flex;
  gap: 10px;
  justify-content: space-evenly;
}
@media screen and (min-width: 360px) {
  .contacts-section__contact-type {
    flex-direction: column;
    align-items: center;
  }
}
@media screen and (min-width: 1023px) {
  .contacts-section__contact-type {
    flex-direction: row;
  }
}
.contacts-section__adress {
  margin-top: 15px;
}
@media screen and (min-width: 1023px) {
  .contacts-section__adress {
    align-self: baseline;
  }
}
.contacts-section__list {
  list-style-type: none;
}
.contacts-section__input {
  margin-top: 15px;
  display: flex;
  flex-direction: column;
}
.contacts-section__social {
  display: flex;
  gap: 10px;
  justify-content: center;
  margin-top: 10px;
}
.contacts-section__input-control {
  height: 30px;
  border-radius: 10px;
  margin-bottom: 10px;
  padding-left: 15px;
}
@media screen and (min-width: 360px) {
  .contacts-section__input-control {
    width: 300px;
  }
}
@media screen and (min-width: 424px) {
  .contacts-section__input-control {
    width: 400px;
  }
}
@media screen and (min-width: 1023px) {
  .contacts-section__input-control {
    width: 500px;
  }
}
.contacts-section__input-massage {
  height: 300px;
  border-radius: 25px;
  padding-top: 15px;
  padding-left: 15px;
  resize: none;
  overflow: hidden;
}
@media screen and (min-width: 360px) {
  .contacts-section__input-massage {
    width: 300px;
  }
}
@media screen and (min-width: 424px) {
  .contacts-section__input-massage {
    width: 400px;
  }
}
@media screen and (min-width: 1023px) {
  .contacts-section__input-massage {
    width: 500px;
  }
}

.portfolio-section {
  margin: 0 auto;
  border-radius: 15px;
  overflow: hidden;
}
.portfolio-section.disabled {
  display: none;
}
.portfolio-section.active {
  width: 0px;
  height: 0px;
  animation: 1.4s portfolioSlide;
  animation-fill-mode: forwards;
}
@keyframes portfolioSlide {
  0% {
    width: 0px;
    height: 0px;
  }
  100% {
    width: 100%;
    max-width: 1100px;
    height: 400px;
  }
}
.portfolio-section.inactive {
  width: 500px;
  height: 400px;
  animation: 1.4s portfolioClose;
  animation-fill-mode: forwards;
  overflow: hidden;
}
@keyframes portfolioClose {
  0% {
    width: 100%;
    max-width: 1100px;
    height: 400px;
  }
  100% {
    width: 0px;
    height: 0px;
  }
}

.skills-section {
  margin: 0 auto;
  overflow: hidden;
}
.skills-section.disabled {
  display: none;
}
.skills-section.active {
  animation: linear 1.4s skillSlide;
  animation-fill-mode: forwards;
}
@media screen and (min-width: 360px) {
  @keyframes skillSlide {
    0% {
      width: 0px;
      height: 0px;
    }
    100% {
      width: 100%;
      max-width: 340px;
      height: 1100px;
    }
  }
}
@media screen and (min-width: 424px) {
  @keyframes skillSlide {
    0% {
      width: 0px;
      height: 0px;
    }
    100% {
      width: 100%;
      max-width: 400px;
      height: 1100px;
    }
  }
}
@media screen and (min-width: 767px) {
  @keyframes skillSlide {
    0% {
      width: 0px;
      height: 0px;
    }
    100% {
      width: 100%;
      max-width: 700px;
      height: 350px;
    }
  }
}
@media screen and (min-width: 1023px) {
  @keyframes skillSlide {
    0% {
      width: 0px;
      height: 0px;
    }
    100% {
      width: 100%;
      max-width: 1000px;
      height: 350px;
    }
  }
}
.skills-section.inactive {
  animation: linear 1.4s skillClose;
  animation-fill-mode: forwards;
  overflow: hidden;
}
@media screen and (min-width: 360px) {
  .skills-section.inactive {
    width: 1100px;
    height: 40340px;
  }
  @keyframes skillClose {
    0% {
      width: 100%;
      max-width: 1100px;
      height: 340px;
    }
    100% {
      width: 0px;
      height: 0px;
    }
  }
}
@media screen and (min-width: 424px) {
  .skills-section.inactive {
    width: 1100px;
    height: 400px;
  }
  @keyframes skillClose {
    0% {
      width: 100%;
      max-width: 1100px;
      height: 400px;
    }
    100% {
      width: 0px;
      height: 0px;
    }
  }
}
@media screen and (min-width: 767px) {
  .skills-section.inactive {
    width: 700px;
    height: 350px;
    animation: linear 1.4s skillClose;
    animation-fill-mode: forwards;
    overflow: hidden;
  }
  @keyframes skillClose {
    0% {
      width: 100%;
      max-width: 700px;
      height: 350px;
    }
    100% {
      width: 0px;
      height: 0px;
    }
  }
}
@media screen and (min-width: 1023px) {
  .skills-section.inactive {
    width: 1000px;
    height: 350px;
    animation: linear 1.4s skillClose;
    animation-fill-mode: forwards;
    overflow: hidden;
  }
  @keyframes skillClose {
    0% {
      width: 100%;
      max-width: 1000px;
      height: 350px;
    }
    100% {
      width: 0px;
      height: 0px;
    }
  }
}
.skills-section__skills-container {
  display: flex;
  justify-content: space-evenly;
  gap: 10px;
}
@media screen and (min-width: 360px) {
  .skills-section__skills-container {
    flex-direction: column;
    align-items: center;
  }
}
@media screen and (min-width: 767px) {
  .skills-section__skills-container {
    flex-direction: row;
  }
}
.skills-section__skills-list {
  list-style-type: none;
  padding: 0;
  margin: 0;
  width: 420px;
}
@media screen and (min-width: 767px) {
  .skills-section__skills-list {
    width: 300px;
  }
}
@media screen and (min-width: 1023px) {
  .skills-section__skills-list {
    width: 450px;
  }
}
.skills-section__skills-type {
  display: flex;
  gap: 5px;
  justify-content: right;
  align-items: center;
  margin-top: 5px;
  list-style-type: none;
}
@media screen and (min-width: 360px) {
  .skills-section__skills-type {
    flex-direction: column;
  }
}
@media screen and (min-width: 767px) {
  .skills-section__skills-type {
    flex-direction: row;
  }
}
.skills-section__animation-container {
  width: 200px;
  height: 7px;
  border: 2px solid var(--color-primary-dark);
  border-radius: 25px;
}
.skills-section .animation-organization {
  height: 3px;
  border-radius: 25px;
  animation-direction: alternate;
  animation: linear 1.4s slideOrganization;
  animation-fill-mode: forwards;
  background: var(--color-primary-dark);
}
.skills-section .animation-communication {
  height: 3px;
  border-radius: 25px;
  animation-direction: alternate;
  animation: linear 1.4s slideCommunication;
  animation-fill-mode: forwards;
  background: var(--color-primary-dark);
}
.skills-section .animation-leadership {
  height: 3px;
  border-radius: 25px;
  animation-direction: alternate;
  animation: linear 1.4s slideLeadership;
  animation-fill-mode: forwards;
  background: var(--color-primary-dark);
}
.skills-section .animation-adaptivity {
  height: 3px;
  border-radius: 25px;
  animation-direction: alternate;
  animation: linear 1.4s slideAdaptivity;
  animation-fill-mode: forwards;
  background: var(--color-primary-dark);
}
.skills-section .animation-education {
  height: 3px;
  border-radius: 25px;
  animation-direction: alternate;
  animation: linear 1.4s slideEducation;
  animation-fill-mode: forwards;
  background: var(--color-primary-dark);
}
.skills-section .animation-hmtl {
  height: 3px;
  border-radius: 25px;
  animation-direction: alternate;
  animation: linear 1.4s slideHmtl;
  animation-fill-mode: forwards;
  background: var(--color-primary-dark);
}
.skills-section .animation-css {
  height: 3px;
  border-radius: 25px;
  animation-direction: alternate;
  animation: linear 1.4s slideCss;
  animation-fill-mode: forwards;
  background: var(--color-primary-dark);
}
.skills-section .animation-scss {
  height: 3px;
  border-radius: 25px;
  animation-direction: alternate;
  animation: linear 1.4s slideScss;
  animation-fill-mode: forwards;
  background: var(--color-primary-dark);
}
.skills-section .animation-adaptiveLayout {
  height: 3px;
  border-radius: 25px;
  animation-direction: alternate;
  animation: linear 1.4s slideAdaptiv;
  animation-fill-mode: forwards;
  background: var(--color-primary-dark);
}
.skills-section .animation-js {
  height: 3px;
  border-radius: 25px;
  animation-direction: alternate;
  animation: linear 1.4s slideJs;
  animation-fill-mode: forwards;
  background: var(--color-primary-dark);
}
.skills-section .animation-webpack {
  height: 3px;
  border-radius: 25px;
  animation-direction: alternate;
  animation: linear 1.4s slideWebpack;
  animation-fill-mode: forwards;
  background: var(--color-primary-dark);
}
.skills-section .animation-nodejs {
  height: 3px;
  border-radius: 25px;
  animation-direction: alternate;
  animation: linear 1.4s slideNodejs;
  animation-fill-mode: forwards;
  background: var(--color-primary-dark);
}
.skills-section .animation-react {
  height: 3px;
  border-radius: 25px;
  animation-direction: alternate;
  animation: linear 1.4s slideReact;
  animation-fill-mode: forwards;
  background: var(--color-primary-dark);
}

@keyframes slideOrganization {
  0% {
    width: 0;
  }
  100% {
    width: 95%;
  }
}
@keyframes slideCommunication {
  0% {
    width: 0;
  }
  100% {
    width: 99%;
  }
}
@keyframes slideLeadership {
  0% {
    width: 0;
  }
  100% {
    width: 75%;
  }
}
@keyframes slideAdaptivity {
  0% {
    width: 0;
  }
  100% {
    width: 90%;
  }
}
@keyframes slideEducation {
  0% {
    width: 0;
  }
  100% {
    width: 95%;
  }
}
@keyframes slideHmtl {
  0% {
    width: 0;
  }
  100% {
    width: 80%;
  }
}
@keyframes slideCss {
  0% {
    width: 0;
  }
  100% {
    width: 80%;
  }
}
@keyframes slideScss {
  0% {
    width: 0;
  }
  100% {
    width: 75%;
  }
}
@keyframes slideAdaptiv {
  0% {
    width: 0;
  }
  100% {
    width: 95%;
  }
}
@keyframes slideJs {
  0% {
    width: 0;
  }
  100% {
    width: 60%;
  }
}
@keyframes slideWebpack {
  0% {
    width: 0;
  }
  100% {
    width: 40%;
  }
}
@keyframes slideNodejs {
  0% {
    width: 0;
  }
  100% {
    width: 40%;
  }
}
@keyframes slideReact {
  0% {
    width: 0;
  }
  100% {
    width: 30%;
  }
}
.buttons-container {
  display: flex;
  gap: 5px;
  justify-content: center;
  align-items: center;
  padding-bottom: 10px;
  margin-top: 15px;
}
@media screen and (min-width: 360px) {
  .buttons-container {
    flex-wrap: wrap;
  }
}
@media screen and (min-width: 767px) {
  .buttons-container {
    flex-direction: row;
  }
}

.button {
  height: 50px;
  min-width: 150px;
  border: none;
  border-radius: 15px;
  padding: 0 10px;
  background: var(--color-primary-dark);
  color: var(--color-primary-light);
  cursor: pointer;
  font-size: 24px;
}
.button.active {
  transition: 0.4s;
  background: var(--color-primary-light);
  color: var(--color-primary-dark);
}
.button:hover {
  transition: 0.4s;
  background: var(--color-primary-light);
  color: var(--color-primary-dark);
}

.cv-button {
  display: inline-block;
  text-decoration: none;
  margin-top: 20px;
  align-content: center;
}

.link {
  text-decoration: none;
  color: var(--color-secondary-dark);
}/*# sourceMappingURL=main.css.map */