* {
  box-sizing: border-box;
}

body {
  padding: 0;
  margin: 0 auto;
  align-content: center;
  background: linear-gradient(45deg, white 85%, #404cf7 85.1%);
  height: 100vh;
  overflow: hidden;
}

p {
  margin: 0;
  padding: 0;
}

.margin-top {
  margin-top: 15px;
}

.greetings {
  text-align: center;
  font-size: 48px;
}
