* {
  box-sizing: border-box;
}

body {
  padding: 0;
  margin: 0 auto;
  align-content: center;
  height: 100vh;
  font-size: 18px;
  font-family: Manrope, sans-serif;
  line-height: 1.5;

  // @media screen and (min-width: $bp-mobileS) {
  //   height: 1400px;
  // }

  // @media screen and (min-width: $bp-mobile) {
  //   height: 1300px;
  // }

  @media screen and (min-width: $bp-desktop) {
    background: linear-gradient(
      45deg,
      var(--color-primary-light) 85%,
      var(--color-primary-dark) 85.1%
    );
  }
}

p {
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  text-align: center;
  padding: 0;
  margin: 0;
}

h1 {
  font-size: 48px;
}

h2 {
  font-size: 40px;
}

ul {
  padding: 0;
  margin: 0;
}
