:root {
  --color-primary-dark: #404cf7;
  --color-primary-light: white;
  --color-secondary-dark: black;
}

$bp-mobileS: 360px;
$bp-mobile: 424px;
$bp-tablet: 767px;
$bp-desktop: 1023px;
$bp-laptop: 1439px;
