//Soft skills

@keyframes slideOrganization {
  0% {
    width: 0;
  }

  100% {
    width: 95%;
  }
}

@keyframes slideCommunication {
  0% {
    width: 0;
  }

  100% {
    width: 99%;
  }
}

@keyframes slideLeadership {
  0% {
    width: 0;
  }

  100% {
    width: 75%;
  }
}

@keyframes slideAdaptivity {
  0% {
    width: 0;
  }

  100% {
    width: 90%;
  }
}

@keyframes slideEducation {
  0% {
    width: 0;
  }

  100% {
    width: 95%;
  }
}

// Hard Skills

@keyframes slideHmtl {
  0% {
    width: 0;
  }

  100% {
    width: 80%;
  }
}

@keyframes slideCss {
  0% {
    width: 0;
  }

  100% {
    width: 80%;
  }
}

@keyframes slideScss {
  0% {
    width: 0;
  }

  100% {
    width: 75%;
  }
}

@keyframes slideAdaptiv {
  0% {
    width: 0;
  }

  100% {
    width: 95%;
  }
}

@keyframes slideJs {
  0% {
    width: 0;
  }

  100% {
    width: 60%;
  }
}

@keyframes slideWebpack {
  0% {
    width: 0;
  }

  100% {
    width: 40%;
  }
}

@keyframes slideNodejs {
  0% {
    width: 0;
  }

  100% {
    width: 40%;
  }
}

@keyframes slideReact {
  0% {
    width: 0;
  }

  100% {
    width: 30%;
  }
}
