.buttons-container {
  display: flex;
  gap: 5px;
  justify-content: center;
  align-items: center;
  height: 80px;
  margin-top: 15px;
}

.button {
  height: 50px;
  min-width: 150px;
  border: none;
  border-radius: 15px;
  padding: 0 10px;
  background: #5aa7ec;
  color: white;
  cursor: pointer;
  font-size: 24px;

  &.active {
    transition: 0.4s;
    background: white;
    color: #5aa7ec;
    border: 3px #1b3481 solid;
  }

  &:hover {
    transition: 0.4s;
    background: white;
    color: #5aa7ec;
    border: 3px #1b3481 solid;
  }
}
