.aboutme-section {
  margin: 0 auto;
  border-radius: 15px;
  background: white;

  &.disabled {
    display: none;
  }

  &.active {
    display: flex;
    gap: 5px;
    width: 0px;
    height: 0px;
    animation: 1.4s aboutmeSlide;
    animation-fill-mode: forwards;
    overflow: hidden;

    @keyframes aboutmeSlide {
      0% {
        width: 0px;
        height: 0px;
      }

      100% {
        width: 1200px;
        height: 400px;
      }
    }
  }
  &.inactive {
    display: flex;
    gap: 5px;
    width: 1200px;
    height: 400px;
    animation: 1.4s aboutmeClose;
    animation-fill-mode: forwards;
    overflow: hidden;

    @keyframes aboutmeClose {
      0% {
        width: 1200px;
        height: 400px;
      }
      100% {
        width: 0px;
        height: 0px;
      }
    }
  }
}

.aboutme-title {
  width: 200px;
  align-content: center;
  text-align: center;
  font-family: sans-serif;
  text-transform: uppercase;
}

.aboutme-text {
  width: 980px;
  align-content: center;
  text-align: justify;
  font-size: 20px;
  font-family: sans-serif;

  padding: 0px 10px;
}
