.skills-section {
  margin: 0 auto;
  border-radius: 15px;
  overflow: hidden;
  font-size: 18px;

  &.disabled {
    display: none;
  }

  &.active {
    width: 0px;
    height: 0px;
    animation: 1.4s skillSlide;
    animation-fill-mode: forwards;

    @keyframes skillSlide {
      0% {
        width: 0px;
        height: 0px;
      }

      100% {
        width: 1200px;
        height: 400px;
      }
    }
  }
  &.inactive {
    width: 500px;
    height: 400px;
    animation: 1.4s skillClose;
    animation-fill-mode: forwards;
    overflow: hidden;

    @keyframes skillClose {
      0% {
        width: 1200px;
        height: 400px;
      }
      100% {
        width: 0px;
        height: 0px;
      }
    }
  }

  //Text
  &__skills-container {
    display: flex;
    justify-content: space-evenly;
    gap: 10px;
  }

  &__skills-list {
    list-style-type: none;
    padding: 0;
    margin: 0;
    width: 420px;
  }

  &__skills-type {
    display: flex;
    gap: 5px;
    justify-content: right;
    align-items: center;
  }

  &__animation-container {
    width: 200px;
    height: 7px;
    border: 2px solid #404cf7;
    animation-delay: 1.9s;
    border-radius: 25px;

    // Soft Skills
    &__animation-stress {
      height: 3px;
      border-radius: 25px;
      animation: 1.4s slideStress;
      animation-direction: alternate;
      animation-fill-mode: forwards;
      background: #404cf7;

      @keyframes slideStress {
        0% {
          width: 0;
        }

        100% {
          width: 95%;
        }
      }
    }

    &__animation-communication {
      height: 3px;
      border-radius: 25px;
      animation: 1.4s slideCommunication;
      animation-direction: alternate;
      animation-fill-mode: forwards;
      background: #404cf7;

      @keyframes slideCommunication {
        0% {
          width: 0;
        }

        100% {
          width: 99%;
        }
      }
    }

    &__animation-leadership {
      height: 3px;
      border-radius: 25px;
      animation: 1.5s slideLeadership;
      animation-direction: alternate;
      animation-fill-mode: forwards;
      background: #404cf7;

      @keyframes slideLeadership {
        0% {
          width: 0;
        }

        100% {
          width: 75%;
        }
      }
    }

    &__animation-adaptivity {
      height: 3px;
      border-radius: 25px;
      animation: 1.5s slideAdaptivity;
      animation-direction: alternate;
      animation-fill-mode: forwards;
      background: #404cf7;

      @keyframes slideAdaptivity {
        0% {
          width: 0;
        }

        100% {
          width: 90%;
        }
      }
    }

    &__self-education {
      height: 3px;
      border-radius: 25px;
      animation: 1.5s slideAdaptivity;
      animation-direction: alternate;
      animation-fill-mode: forwards;
      background: #404cf7;

      @keyframes slideAdaptivity {
        0% {
          width: 0;
        }

        100% {
          width: 95%;
        }
      }
    }

    // Hard Skills
    &__animation-hmtl {
      height: 3px;
      border-radius: 25px;
      animation: 1.5s slideHmtl;
      animation-direction: alternate;
      animation-fill-mode: forwards;
      background: #404cf7;

      @keyframes slideHmtl {
        0% {
          width: 0;
        }

        100% {
          width: 80%;
        }
      }
    }

    &__animation-css {
      height: 3px;
      border-radius: 25px;
      animation: 1.5s slideCss;
      animation-direction: alternate;
      animation-fill-mode: forwards;
      background: #404cf7;

      @keyframes slideCss {
        0% {
          width: 0;
        }

        100% {
          width: 80%;
        }
      }
    }

    &__animation-scss {
      height: 3px;
      border-radius: 25px;
      animation: 1.5s slideScss;
      animation-direction: alternate;
      animation-fill-mode: forwards;
      background: #404cf7;

      @keyframes slideScss {
        0% {
          width: 0;
        }

        100% {
          width: 75%;
        }
      }
    }

    &__adaptive-layout {
      height: 3px;
      border-radius: 25px;
      animation: 1.5s slideAdaptiv;
      animation-direction: alternate;
      animation-fill-mode: forwards;
      background: #404cf7;

      @keyframes slideAdaptiv {
        0% {
          width: 0;
        }

        100% {
          width: 95%;
        }
      }
    }

    &__animation-js {
      height: 3px;
      border-radius: 25px;
      animation: 1.5s slideJs;
      animation-direction: alternate;
      animation-fill-mode: forwards;
      background: #404cf7;

      @keyframes slideJs {
        0% {
          width: 0;
        }

        100% {
          width: 60%;
        }
      }
    }

    &__animation-webpack {
      height: 3px;
      border-radius: 25px;
      animation: 1.5s slideWebpack;
      animation-direction: alternate;
      animation-fill-mode: forwards;
      background: #404cf7;

      @keyframes slideWebpack {
        0% {
          width: 0;
        }

        100% {
          width: 40%;
        }
      }
    }

    &__animation-nodejs {
      height: 3px;
      border-radius: 25px;
      animation: 1.5s slideNodejs;
      animation-direction: alternate;
      animation-fill-mode: forwards;
      background: #404cf7;

      @keyframes slideNodejs {
        0% {
          width: 0;
        }

        100% {
          width: 40%;
        }
      }
    }

    &__animation-react {
      height: 3px;
      border-radius: 25px;
      animation: 1.5s slideReact;
      animation-direction: alternate;
      animation-fill-mode: forwards;
      background: #404cf7;

      @keyframes slideReact {
        0% {
          width: 0;
        }

        100% {
          width: 30%;
        }
      }
    }
  }
}
